:root {
  --color-principal: #6b8678;
  --color-secundario: #e4e2dc;

  --font-size-h1: clamp(2rem, 2.5rem + 1rem, 3rem);
  --font-size-h2: clamp(1.3rem, 1.5vw + 0.5rem, 2.2rem);
  --font-size-text: clamp(1rem, 1vw + 0.5rem, 1.2rem);

  --max-width: 1000px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #222;
  background-color: var(--color-secundario);
  line-height: 1.6;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tyc{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 2rem;
    gap: var(--gap);
}

h1, h2 {
  color: var(--color-principal);
  margin-bottom: 0.5em;
  text-align: center;
}

h1 {
  font-size: var(--font-size-h1);
  margin-top: var(--spacing);
}

h2 {
  font-size: var(--font-size-h2);
  margin-top: calc(var(--spacing) * 1.5);
}

ul {
  font-size: var(--font-size-text);
  max-width: var(--max-width);
  margin-bottom: var(--spacing);
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5em;
}

section.navbar,
section.footer {
  width: 100%;
}

